# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
pnpm-lock.yaml
package-lock.json
yarn.lock

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
dist
.editorconfig

# Misc
.DS_Store
.DS_Store?
._*
Thumbs.db
logs
*.log
.env

# Adastra
assets/adastra.manifest.json
