<section class="container">
  {% if section.settings.heading != blank %}
    <h1>{{ section.settings.heading }}</h1>
  {% endif %}

  <div x-data="{ count: 0 }">
    <button @click="count++">
      Counter <output x-text="count">0</output>
    </button>
  </div>

  <footer>
    {{ powered_by_link }}
  </footer>
</section>

{% schema %}
{
  "name": "Hello World",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "presets": [
    {
      "name": "Hello World"
    }
  ]
}
{% endschema %}
